JWT_SECRET=change-me-in-production-change-me-in-production
JWT_ACCESS_EXPIRATION=300000
JWT_REFRESH_EXPIRATION=604800000
INTERNAL_SERVICE_TOKEN=change-me-in-production
MAIL_USERNAME=
MAIL_PASSWORD=
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
SPRING_DATA_MONGODB_URI=mongodb://localhost:27018/notification_db
